Observations and Insights

In [1]:
%matplotlib notebook

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
study_df = pd.merge(mouse_metadata, study_results, on="Mouse ID", how="outer")

# Display the data table for preview
study_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [3]:
#Checking the number of mice.
study_df["Mouse ID"].value_counts()

g989    13
h246    10
e584    10
j989    10
n304    10
        ..
x336     1
f932     1
t573     1
x226     1
n482     1
Name: Mouse ID, Length: 249, dtype: int64

In [4]:
study_df["Mouse ID"].count()

1893

In [5]:
#study_df.dtypes

In [6]:
#Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
duplicate_mice = study_df[study_df.duplicated(["Mouse ID", "Timepoint"])]
duplicate_mice["Mouse ID"].value_counts()

#Is this saying that mouse g989 has duplicated ID across all rows within the data?

g989    5
Name: Mouse ID, dtype: int64

In [7]:
# Optional: Get all the data for the duplicate mouse ID. 
duplicate_mice.loc[:, "Mouse ID"].unique()

array(['g989'], dtype=object)

In [8]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_df = study_df.loc[study_df['Mouse ID'] != 'g989']
#duplicate_mice.loc[duplicate_mice['Mouse ID'] != 'g989'] #removes ALL data
clean_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [9]:
# Checking the number of mice in the clean DataFrame.
len(clean_df["Mouse ID"].unique())

248

Summary Statistics

In [10]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
clean_df.loc[:, 'Drug Regimen'].unique()
# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
grouped_DR = clean_df.groupby(['Drug Regimen']) #.apply(list).reset_index()
# mean, median, variance, standard deviation, and SEM of the tumor volume

mean_numpy = grouped_DR['Tumor Volume (mm3)'].mean()
median_numpy = grouped_DR['Tumor Volume (mm3)'].median()
var_numpy = grouped_DR['Tumor Volume (mm3)'].var()
std_numpy = grouped_DR['Tumor Volume (mm3)'].std()
sem_numpy = grouped_DR['Tumor Volume (mm3)'].sem()

# Assemble the resulting series into a single summary dataframe.
data1 = {
    'Mean': mean_numpy,
    'Median': median_numpy,
    'Variance': var_numpy,
    'Stdv': std_numpy,
    'SEM': sem_numpy
}

summary1 = pd.DataFrame(data1)
summary1

format_dict = {'Mean':'{0:,.3f}', 'Median': '{:,.3f}', 'Variance': '{:,.3f}', 'Stdv': '{:,.3f}', 'SEM': '{:,.3f}'}
summary1.style.format(format_dict)

In [29]:
#Using the aggregation method, produce the same summary statistics in a single line
grouped_DR = clean_df.groupby('Drug Regimen')['Tumor Volume (mm3)'].aggregate([np.mean, np.median, np.var, np.std, 'sem'])
    
    #'Mean': np.mean,
    #'Median': np.median,
                                                         #'Variance': np.var})

grouped_DR

                   mean     median        var       std       sem
Drug Regimen
Capomulin     40.675741  41.557809  24.947764  4.994774  0.329346
Ceftamin      52.591172  51.776157  39.290177  6.268188  0.469821
Infubinol     52.884795  51.820584  43.128684  6.567243  0.492236
Ketapril      55.235638  53.698743  68.553577  8.279709  0.603860
Naftisol      54.331565  52.509285  66.173479  8.134708  0.596466
Placebo       54.033581  52.288934  61.168083  7.821003  0.581331
Propriva      52.320930  50.446266  43.852013  6.622085  0.544332
Ramicane      40.216745  40.673236  23.486704  4.846308  0.320955
Stelasyn      54.233149  52.431737  59.450562  7.710419  0.573111
Zoniferol     53.236507  51.818479  48.533355  6.966589  0.516398

Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [ ]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

Quartiles, Outliers, and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen